<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full min-h-screen bg-zinc-900 p-10 text-white">
      <div class="w-full flex justify-end">
        <a
          class="bg-red-500 rounded-md px-3 py-2 text-sm mb-5 inline-block"
          href="/logout"
          >Logout</a
        >
      </div>
      <h3 class="text-3xl mb-5">
        Hello, <span class="text-yellow-800"><%= user.name %></span>👋
      </h3>
      <h5 class="mb-5 text-2xl">Create a post</h5>

      <form action="/post" method="post">
        <textarea
          placeholder="Write a new Post"
          class="w-1/2 resize-none bg-transparent border-2 border-zinc-800 rounded-md outline-none p-3"
          name="content"
          id=""
        ></textarea>
        <input
          class="rounded-md mt-2 w-40 px-3 py-2 bg-blue-500 block"
          type="submit"
          value="Create"
        />
      </form>
      <div class="posts mt-10">
        <h3 class="text-zinc-400 text-2xl">Recent Posts</h3>
        <div class="postcontainer mt-5">
          <% user.posts.reverse().forEach(function (post) { %>
          <div
            class="post w-1/2 p-4 mb-4 bg-zinc-800 rounded-md border-[1px] border-zinc-700"
          >
            <h4 class="text-blue-500 mb-2 text-[20px]">
              @<%= user.username %>
            </h4>
            <p class="text-sm tracking-tight"><%= post.content %></p>
            <small class="mt-4 text-[16px] inline-block"><%= post.like.length %> like</small>
            <div class="flex gap-4 mt-1">
              <a class="text-blue-500" href="/like/<%= post._id %>"> 
                <%= post.like.indexOf(user._id)?"Like":"UnLike" %>
              </a>
              <a class="text-zinc-600" href="/edit/<%= post._id %>">Edit</a>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </body>
</html>
